.port-share {
  background-color: #D3D3A0;
  height: 540px;
  width: 1200px;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 2px solid #8B4513;
  border-radius: 15px;
}

.port-share-icon {
  background-color: #D3D3A0;
  height: 540px;
  width: 1200px;
  align-items: center;
  text-align: center;
  border: 2px solid #8B4513;
  border-radius: 15px;
}

.share-wise {
  font-family: 'Lobster', cursive;
  color: #8B4513;
  border-radius: 15px;
  align-items: center;
  background-color: #F8F5E6;
  font-size: 7em;
  font-weight: bold;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.fa-book-atlas,
.fa-pencil {
  color: #004d00;
}

.port-folio {
  font-family: 'Merriweather', cursive;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 50px;
  color: #fffafa;
  font-size: 100px !important;
  letter-spacing: 2px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.date {
  font-family: 'Lobster', cursive;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.carousel-control-prev-icon {
  padding-right: 50px;
  padding-top: 540px;
  background-color: #8B4513;
  margin-right: 130px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.carousel-control-next-icon {
  padding-right: 50px;
  padding-top: 540px;
  background-color: #8B4513;
  margin-left: 130px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

// @media (max-width: 600px) {
//   .port-folio {
//     font-size: 80px;
//   }
// }

// @media (min-width: 601px) and (max-width: 900px) {
//   .port-folio {
//     font-size: 120px;
//   }
// }

// @media (min-width: 901px) {
//   .port-folio {
//     font-size: 200px;
//   }
// }

// ──────────────────────────────────────────────────────────────────────
.slide-content {

}
// ──────────────────────────────────────────────────────────────────────
.vertical-table {
  width: 100%;
  margin: 0; /* マージンをリセット */
  text-align: center;
  table-layout: fixed;
}

.vertical-table td {
  padding: 10px;
  vertical-align: middle;
  align-items: center;
  flex-direction: column;
}

.tableicon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
}

.carousel-item {
  text-align: center;
}

table {
  margin: 0;
}

table tr td {
  width: 20%;
  background-color: #FFFFFF;
  padding: 5px;
}

td {
  word-wrap: break-word;
}

.abouticon {
  font-size: 50px;
  color: #8B4513;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.abouticon-bell {
  font-size: 50px;
  color: #ff0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.abouticon-new {
  font-size: 30px;
  color: #8B4513;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.abouticon-return {
  font-size: 50px;
  color: #808080;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.explanation {
  font-weight: bold;
}

.about-image {
  border-radius: 10px;
}

.tableicon h2 {
  margin: 0;
  padding: 5px 0;
}

// ──────────────────────────────────────────────────────────────────────

.introduction-box {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #F8F5E6;
  text: left;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.site-introduction {
  font-family: 'Kosugi Maru', cursive;
  font-weight: bold;
  border-bottom: solid 1px #2e8b57;
}

// ──────────────────────────────────────────────────────────────────────

.post-new {
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// ──────────────────────────────────────────────────────────────────────
.tree,
.multi-create-image {
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
// ──────────────────────────────────────────────────────────────────────

.site-theme-origin {
  background-color: #d2b48c;
  color: #FFFFFF;
  border-radius: 20px;
  width: 800px;
  font-family: 'Kosugi Maru', cursive;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.site-theme {
  font-family: 'Kosugi Maru', cursive;
  font-weight: bold;
}

.site-theme-ather {
  background-color: #ffc0076e;
  color: #FFFFFF;
  border-radius: 20px;
  width: 870px;
  font-family: 'Kosugi Maru', cursive;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.theme-introduction {
  margin: 5px;
  padding: 5px;
  width: 600px;
  background-color: #F8F5E6;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
// ──────────────────────────────────────────────────────────────────────