// ユーザーカード全般
.user-card-link {
  display: block;
}

// ユーザーカードリストのスタイル
.user-card-list {
  background-color: #C19A6B;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px; /* パディングを少し小さく */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  width: 170px; /* 幅を小さく */
  height: 220px; /* 高さを小さく */
  overflow: hidden; /* 内容がはみ出さないように */

  &:hover {
    background-color: #D2B48C;
    border-color: #007bff; /* ホバー時の枠線色 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
  }

  img.profile-image {
    border-radius: 50%; /* 画像を丸く表示 */
    width: 120px; /* 固定サイズ */
    height: 120px; /* 固定サイズ */
    object-fit: cover; /* 画像の切り取り */
    margin-bottom: 10px;

  }

  .user-card-name,
  .user-card-profile {
    font-size: 1.1em; /* フォントサイズ調整 */
    margin: 0; /* マージンをリセット */
    text-decoration: none; /* 下線を削除 */
    color: black; /* 文字色 */
  }

  .user-card-profile {
    font-size: 0.8em; /* フォントサイズ調整 */
    overflow: hidden; /* 内容がカード外に出ないように */
    text-overflow: ellipsis; /* 長いテキストを省略記号で表示 */
    white-space: nowrap; /* テキストが折り返さないように */
  }
}

// ユーザーカードのスタイル
.user-card {
  width: 220px;
  background-color: #C19A6B;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;

  img {
    border-radius: 50%; /* 画像を丸くする */
    width: 150px; /* 幅を固定 */
    height: 150px; /* 高さも同じに設定 */
    object-fit: cover; /* 画像が枠に収まるようにカバー */
    margin-bottom: 10px;
  }

  &.current-user {
    img {
      width: 150px; /* current-user では自動サイズに戻す */
      height: 150px;
    }
  }

.post-show-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  .post-show-card:hover {
    background-color: black;
  }
}

  &:not(.current-user) {
    // その他のユーザーのスタイルが必要であればここに追加
  }
}



// 右側のユーザーリスト
.col-md-10 {
  .row {
    margin: -15px; /* カード間の余白を調整 */

    .col-md-4 {
      padding: 15px;

      .user-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;

        &:hover {
          border-color: #007bff; /* ホバー時の枠線色 */
          transform: translateY(-5px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

// 投稿リンクのスタイル
.post-link {
  display: block;          /* ブロック要素として表示 */
  text-decoration: none;  /* 下線を削除 */
  color: inherit;         /* 親要素の文字色を継承 */
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; /* トランジションの追加 */

  &:hover {
    text-decoration: none;  /* ホバー時も下線を削除 */

    .post-row {
      background-color: #fafafa; /* ホバー時の背景色 */
      border-color: #007bff;     /* ホバー時のボーダー色 */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* ホバー時のシャドウ */
      transform: scale(1.02);    /* ホバー時に少し拡大 */
    }
  }
}

// 投稿行のスタイル
.post-row {
  border: 1px solid #ddd;   /* デフォルトのボーダー色 */
  border-radius: 8px;      /* ボーダーの角を丸くする */
  padding: 15px;            /* 内側の余白を追加 */
  margin-bottom: 15px;      /* 下の余白を追加 */
  overflow-y: auto;
  max-height: 300px;
  background-color: #fff;   /* 背景色 */
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* トランジションの追加 */

  p {
    margin: 0;
    white-space: pre-wrap; /* 改行を維持 */
    color: #333;           /* 文字色 */
  }

  &:hover {
    border-color: #007bff; /* ホバー時の背景色 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* ホバー時のシャドウ */
    transform: scale(1.02); /* ホバー時に少し拡大 */
  }
}

// 画像のスタイル
.img-fluid {
  width: 100%;  // 画像の幅をコンテナに合わせる
  height: 100%;  // 高さを自動調整
}

.no-image {
  background-color: #FFC0CB;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;

  img.no-image {
    // border-radius: 80%; /* 画像を丸く表示 */
    width: 150px; /* 幅を固定 */
    height: 150px; /* 高さも同じに設定 */
    object-fit: cover; /* 画像が枠に収まるようにカバー */
    margin-bottom: 10px; /* 下にマージンを設定 */
  }

  &:hover {
    border-color: #007bff; /* ホバー時の枠線色 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* ホバー時のシャドウ */
  }
}

.post-image {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.index_card_image {
  border: none !important;
  padding-top: 25px;
}

.post-text-area {
  width: 100%;
  height: 1020px;
}

.show-row {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.comment-field {
  width: 100%;
}

.comment-table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;

  .mt-2 {
    max-width: 280px;
    overflow-wrap: break-word;
  }
}

.table-blank {
  background-color: #F8F4E6;
}

.no-underline {
  text-decoration: none !important;
}

.comment-nick_name {
  color: black;
  text-decoration: none !important;
}

.comment-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.align-middle-link:hover {
  background-color: #b0c4de;
  cursor: pointer;
}

.comment-nick_name:hover {
  color: #007bff;
  cursor: pointer;
}

.new-img {
  width: 100%;
  height: 280px;
}

.nick-name {
  font-weight: bold;
}
.user-profile {
  margin: 0px;
}

.follows-count {
  font-weight: bold;
  font-size: 15px;
  color: #008080;
  margin: 0px;
  text-decoration: none !important;
}

.favorite-post-show {
  margin-top: 30px;
}

.favorite-link {
  text-decoration: none !important;
}

.favorite-link:hover {
  text-decoration: none !important;
}

.favo-link {
  font-weight: bold;
  text-decoration: none !important;
  color: red;
}

.favo-link:hover {
  font-weight: bold;
  text-decoration: none !important;
  color: #b30000;
}

.mypage-link {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #696969;
  background-color: #F8F5E6;
  display: inline-block;
  padding-left: 2px;
  text-align: center;
  // font-weight: bold;
  width: 65px !important;
  text-decoration: none !important;
  font-size: 20px !important;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
}
.mypage-link:hover {
  color: #F8F5E6;
  background-color: #696969;
  display: inline-block;
  padding-left: 2px;
  text-align: center;
  width: 65px !important;
  text-decoration: none !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.return-link-black {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 3px;
  color: #000000;
  background-color: #F8F5E6;
  margin-right: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
  font-size: 20px !important;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.return-link-black:hover {
  display: inline-block;
  color: #F8F5E6;
  background-color: #000000;
  margin-right: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.return-link-brown {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 3px;
  color: #8b4513;
  background-color: #F8F5E6;
  margin-right: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
  font-size: 20px !important;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.return-link-brown:hover {
  display: inline-block;
  color: #F8F5E6;
  background-color: #8b4513;
  margin-right: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.return-link-blue {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 3px;
  color: #4169e1;
  background-color: #F8F5E6;
  margin-right: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
  font-size: 20px !important;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.return-link-blue:hover {
  display: inline-block;
  color: #F8F5E6;
  background-color: #4169e1;
  margin-right: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.return-link-green {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 3px;
  color: #2e8b57;
  background-color: #F8F5E6;
  margin-right: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
  font-size: 20px !important;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.return-link-green:hover {
  display: inline-block;
  color: #F8F5E6;
  background-color: #2e8b57;
  margin-right: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.content-name {
  margin-left: 10px;
  font-size: 30px;
  color: #dc143c;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.genre-name {
  margin: 10px;
  font-size: 30px;
  color: #2e8b57;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.title-name {
  margin: 10px;
  font-size: 30px;
  color: #007bff;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.category-name {
  margin: 10px;
  font-size: 30px;
  color: #8b4513;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.mokuji {
  margin: 10px;
  font-size: 30px;
  color: #000000;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
// 時計
.analog-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 133px; /* 時計の高さを200pxから2/3のサイズに変更 */
    width: 133px;  /* 時計の幅を200pxから2/3のサイズに変更 */
    border: 4px solid #333; /* ボーダーのサイズも調整 */
    border-radius: 50%;
    position: relative;
    background-color: #fff;


  .clock-face {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .hand {
    position: absolute;
    background-color: #333;
    transform-origin: bottom center; /* 針の底部を回転の中心に設定 */
    transition: transform 0s ease-in-out;
  }

  .hour-hand {
    width: 3px; /* 針の幅を縮小 */
    height: 33px; /* 針の長さを縮小 */
    bottom: 50%; /* 時計の中心から50%上 */
    left: 50%; /* 時計の中心から50%左 */
    transform: translateX(-50%) rotate(0deg); /* 中心に合わせて移動し、回転 */
    transition: transform 0s ease-in-out;
  }

  .minute-hand {
    width: 2px; /* 針の幅を縮小 */
    height: 47px; /* 針の長さを縮小 */
    bottom: 50%; /* 時計の中心から50%上 */
    left: 50%; /* 時計の中心から50%左 */
    transform: translateX(-50%) rotate(0deg);
    transition: transform 0s ease-in-out;
  }

  .second-hand {
    width: 1px; /* 針の幅を縮小 */
    height: 60px; /* 針の長さを縮小 */
    bottom: 50%; /* 時計の中心から50%上 */
    left: 50%; /* 時計の中心から50%左 */
    background-color: red;
    transform: translateX(-50%) rotate(0deg);
    transition: transform 0s ease-in-out; /* アニメーションの設定 */
  }

  .center-dot {
    position: absolute;
    background-color: #333;
    border-radius: 50%;
    height: 7px; /* 中心の点のサイズを縮小 */
    width: 7px;  /* 中心の点のサイズを縮小 */
    top: 50%; /* 時計の中心から50%下 */
    left: 50%; /* 時計の中心から50%左 */
    transform: translate(-50%, -50%);
  }

  .number {
    position: absolute;
    font-size: 14px; /* 数字のサイズ */
    text-align: center;
    width: 20px; /* 数字のボックスの幅 */
    height: 20px; /* 数字のボックスの高さ */
    line-height: 123px;
    transform-origin: 50% 100%;
  }

  .number-1  { transform: rotate(30deg) translate(0, -55.5px) rotate(-30deg) translateX(53px); }
  .number-2  { transform: rotate(60deg) translate(0, -55.5px) rotate(-60deg) translateX(53px); }
  .number-3  { transform: rotate(90deg) translate(0, -55.5px) rotate(-90deg) translateX(53px); }
  .number-4  { transform: rotate(120deg) translate(0, -55.5px) rotate(-120deg) translateX(53px); }
  .number-5  { transform: rotate(150deg) translate(0, -55.5px) rotate(-150deg) translateX(53px); }
  .number-6  { transform: rotate(180deg) translate(0, -55.5px) rotate(-180deg) translateX(53px); }
  .number-7  { transform: rotate(210deg) translate(0, -55.5px) rotate(-210deg) translateX(53px); }
  .number-8  { transform: rotate(240deg) translate(0, -55.5px) rotate(-240deg) translateX(53px); }
  .number-9  { transform: rotate(270deg) translate(0, -55.5px) rotate(-270deg) translateX(53px); }
  .number-10 { transform: rotate(300deg) translate(0, -55.5px) rotate(-300deg) translateX(53px); }
  .number-11 { transform: rotate(330deg) translate(0, -55.5px) rotate(-330deg) translateX(53px); }
  .number-12 { transform: rotate(360deg) translate(0, -55.5px) rotate(-360deg) translateX(53px); }
}

.hidden {
  display: none;
}

#toggleClockButton {
  font-size: 10px;
  margin-bottom: 5px;
}

