// 共通のリンクスタイル
.user-card-list {
  background-color: #C19A6B;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 170px;
  height: 220px;
  overflow: hidden;

  img.profile-image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
  }
    .user-card-name,
  .user-card-profile {
    font-size: 1.1em;
    margin: 0;
    color: black;
  }

  .user-card-profile {
    font-size: 0.8em;
  }

  &:hover {
    background-color: #D2B48C;
    border-color: #007bff;
  }
}

.index_card_image {
  border: none !important;
}

.user-card-link,
.post-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-card-link:hover,
.post-link:hover {
  text-decoration: none;
}

// ユーザーカード全般
.user-card,
.user-card-follows {
  width: 220px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #C19A6B;
}

.user-card:hover,
.user-card-follows:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

// プロフィール画像
img.profile-image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-card .profile-image {
  width: 150px;
  height: 150px;
}

// ユーザー名、プロフィールのテキスト
.user-card-name,
.user-card-profile,
.user-nick-name,
.notification-favo-name,
.notification-comment-name {
  font-size: 1.1em;
  margin: 0;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// フォローのカード特有のスタイル
.user-card-follows {
  height: 360px;
}

.follows-info {
  margin-top: auto;
}

// 投稿のスタイル
.post-row {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  overflow-y: auto;
  max-height: 300px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;

  p {
    margin: 0;
    color: #333;           /* 文字色 */
  }
}

.post-row:hover {
  border-color: #007bff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

// 投稿画像
.post-image,
.img-fluid {
  max-width: 270px;
  width: 100%;
  object-fit: cover;
}

.post-image {
  height: 270px;
}

// 通知部分
.notification-favo-name .fa-heart {
  color: red;
}

.notification-comment-name .fa-comment {
  color: blue;
}

.notification-all-check {
  color: #ffd700;
  font-size: 30px;
  display: inline-flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  margin-bottom: 10px;
}

.notification-all-check:hover {
  color: #ccad00;
}

.unread-count {
  font-size: 16px;
  color: #ffd700;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.notification-all-check:hover .unread-count {
  color: #ccad00;
}

// フォローカウント
.follows-count {
  font-size: 15px;
  font-weight: bold;
  color: #008080;
  text-decoration: none;
}

// お気に入り
.favo-link {
  font-weight: bold;
  color: red;
  text-decoration: none;
}

.favo-link:hover {
  color: #b30000;
}

