<h2 class="site-introduction ml-auto mr-auto  w-50 my-2">
  遷移イメージ図
  <i class="fa-solid fa-book-open abouticon-new"></i>
</h2>
<%= image_tag asset_path('road-map1.png'), alt: '画像', class: 'tree mx-5' %>