<h2 class="site-introduction ml-auto mr-auto  w-50 my-2">
  ８. 作者プロフィール
  <%= image_tag 'mahjong', alt: '画像', class: 'mahjong', width: '40', height: '40' %>
</h2>
<%#= image_tag 'profile', alt: '画像', class: 'profile mx-5' %>