<h3 class="site-introduction w-100">サイト紹介(もくじ)</h3>
<div class="introduction-box">
  <h4 class="site-introduction text-left w-100 mt-2 mb-1">辞書の使い方</h4>
  <h5 class="site-introduction text-left w-100 my-1">&nbsp;&nbsp;１. 辞書構造</h5>
  <h5 class="site-introduction text-left w-100 my-1">&nbsp;&nbsp;２. ウィジェット 一括登録機能</h5>
  <h5 class="site-introduction text-left w-100 my-1">&nbsp;&nbsp;３. その他機能(辞書)</h5>
</div>
<div class="introduction-box">
  <h4 class="site-introduction text-left w-100 mt-2 mb-1">SNSの使い方</h4>
  <h5 class="site-introduction text-left w-100 my-1">&nbsp;&nbsp;４. ユーザーカード/ヘッダーアイコンについて</h5>
  <h5 class="site-introduction text-left w-100 my-1">&nbsp;&nbsp;５. 投稿方法</h5>
  <h5 class="site-introduction text-left w-100 my-1">&nbsp;&nbsp;６. その他機能(SNS)</h5>
</div>
<div class="introduction-box">
  <h4 class="site-introduction text-left w-100 mt-2 mb-1">About Us Page</h4>
  <h5 class="site-introduction text-left w-100 my-1">&nbsp;&nbsp;７. サイトテーマ</h5>
  <h5 class="site-introduction text-left w-100 my-1">&nbsp;&nbsp;８. 作者プロフィール</h5>
</div>