<h2 class="site-introduction ml-auto mr-auto w-50">
  ７. サイトテーマ
</h2>
<h4 class="site-theme-origin text-center">
  自分だけの知識を整理し、知識をシェアして成長を促すSNS型辞書サイト
</h4>
<div class="theme-introduction">
  <h5 class="site-introduction text-left w-50">
    テーマを選んだ理由
  </h5>
  <h6 class="site-theme text-left w-100">
    知識の整理に困ったり、コミュニケーションが苦手で<br>
    情報交換の機会を逃している人は多いと思います。<br>
    そこで、学んだ内容を整理しながら<br>
    気軽に情報を共有できるアプリを作りたいと考えました。<br>
    好きなことを語ることはコミュニケーションの第一歩であり<br>
    知識の共有は成長につながると信じています。<br>
  </h6>
  <h6 class="site-theme text-left w-100">
    このアプリを通じて、知識の整理やコミュニケーションのハードルを下げ<br>
    多くの人が成長できる場を提供できればと思い取り組みました。
  </h6>
</div>
<div class="theme-introduction">
  <h5 class="site-introduction text-left w-50 ">
    ご利用いただきたい方
  </h5>
  <h6 class="site-theme text-left w-100">
    ・好きな事を学びたいと感じている方<br>
    ・まとめるのが苦手な方<br>
    ・好きな事に対する自分以外の視点に触れてみたい方<br>
    ・学んだ事をきっかけにコミュニケーションを取りたいと感じている方
  </h6>
</div>
<h4 class="site-theme-ather text-center mt-1">
  また、SNSに投稿する内容をファイル構造でまとめるといった使い方も出来ます
</h4>