<div class="share-wise">
  <i class="fa-solid fa-book-atlas"></i>
    Share Wise
  <i class="fa-solid fa-pencil"></i>
</div>
<div class="site-title port-folio">
  ～PORT FOLIO～
</div>
<h4 class="date mt-3">since　2024. 09 ～</h4>
<div class="home-buttons text-center">
  <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-success my-2 w-50' %>
</div>