<h2 class="site-introduction text-center w-100 pt-5">６. その他機能(辞書)</h2>
<div class="introduction-box">
  <h5 class="site-introduction text-left w-100 pt-4">ページ投稿機能・・・ページ内容の詳細ページからSNS投稿が出来ます</h5>
  <h5 class="site-introduction text-left w-100 pt-4">リンク登録機能・・・よく使うリンクの保存が出来ます</h5>
  <h5 class="site-introduction text-left w-100 pt-4">ソート機能・・・・・もくじを五十音順と登録順に並べ替える事が出来ます</h5>
</div>