<h2 class="site-introduction text-center w-100 pt-3">３. その他機能(SNS)</h2>
<div class="introduction-box">
  <h5 class="site-introduction text-left w-100 pt-4">フォロー機能・・・フォロー(フォロワー)一覧ページから確認が出来ます</h5>
  <h5 class="site-introduction text-left w-100 pt-4">いいね機能・・・・いいねが出来ます、いいね一覧ページから確認が出来ます</h5>
  <h5 class="site-introduction text-left w-100 pt-4">コメント機能・・・投稿詳細ページにて、投稿にコメントが出来ます</h5>
  <h5 class="site-introduction text-left w-100 pt-4">通知機能・・・・・非いいね/コメント時に通知が来ます、マイページで確認が出来ます</h5>
  <h5 class="site-introduction text-left w-100 pt-4">User検索機能・・・User一覧ページにて、ニックネーム部分一致でUser検索が出来ます</h5>
  <h5 class="site-introduction text-left w-100 pt-4">投稿検索機能・・・投稿一覧ページにて、投稿内容の部分一致で投稿検索が出来ます</h5>
</div>