<div class="row d-flex justify-content-center align-items-center" style="height: 480px;">
    <div class="col-md-12 mb-0">
      <h2 class="site-introduction mt-2 ml-auto mr-auto" style="width: 60%;">
        １. ユーザーカード/ヘッダーアイコンについて
      </h2>
    </div>
    <div class="row d-flex justify-content-center align-items-start">
      <div class="about-image col-md-3 d-flex flex-column align-items-center">
      <h2>User Card</h2>
      <%= image_tag asset_path('sharewise.jpg'), alt: '画像', class: 'about-image' %>
    </div>

    <div class="col-md-6 tableicon d-flex flex-column align-items-center">
      <table class="vertical-table">
      <h2>Header Icon</h2>
        <tr>
          <td><i class="fa-solid fa-house abouticon"></i></td>
          <td><i class="fa-solid fa-puzzle-piece abouticon"></i></td>
          <td><i class="fa-solid fa-right-to-bracket fa-flip-horizontal abouticon"></i></td>
          <td><i class="fa-solid fa-right-to-bracket abouticon"></i></td>
        </tr>
        <tr>
          <td class="explanation">トップ</td>
          <td class="explanation">サイト紹介</td>
          <td class="explanation">ログイン</td>
          <td class="explanation">ログアウト</td>
        </tr>
        <tr>
          <td><i class="fa-solid fa-book-open abouticon"></i></td>
          <td><i class="fa-solid fa-link abouticon"></i></td>
          <td><i class="fa-solid fa-bell abouticon-bell"></i></td>
          <td><i class="fa-solid fa-address-card abouticon"></i></td>
        </tr>
        <tr>
          <td class="explanation">辞書</td>
          <td class="explanation">リンク</td>
          <td class="explanation">通知</td>
          <td class="explanation">My Page</td>
        </tr>
        <tr>
          <td><i class="fa-solid fa-users abouticon"></i></td>
          <td><i class="fa-solid fa-comments abouticon"></i></td>
          <td><i class="fa-solid fa-user abouticon-new"><i class="fa-solid fa-comment abouticon-new"></i></i></td>
          <td><i class="fa-solid fa-chevron-up abouticon-return"></i></td>
        </tr>
        <tr>
          <td class="explanation">User一覧</td>
          <td class="explanation">投稿一覧</td>
          <td class="explanation">新規投稿</td>
          <td class="explanation">画面上部</td>
        </tr>
      </table>
    </div>
  </div>
</div>
