<h2 class="site-introduction ml-auto mr-auto  w-50 my-2">
  ２. 投稿方法
  <i class="fa-solid fa-user abouticon-new">
    <i class="fa-solid fa-comment abouticon-new"></i>
  </i>
</h2>
<%= image_tag 'post-new', alt: '画像', class: 'post-new-image mx-5' %>