<h2 class="site-introduction ml-auto mr-auto  w-50 my-2">
  ５. ウィジェット/一括登録機能
  <i class="fa-solid fa-book-open abouticon-new"></i>
</h2>
<%= image_tag 'multi-create', alt: '画像', class: 'multi-create-image mx-5' %>