<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>
<!-- app/views/public/home/index.html.erb -->
<h1>ホームトップ</h1>
<% if user_signed_in? %>
  <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
<% end %>