<div class="home-container text-center align-content-center">
  <div class="home-text-box align-content-center mx-auto">
    <h1 class="site d-flex justify-content-center align-items-center">
      <i class="fa-solid fa-book-atlas"></i>
        ShareWise
      <i class="fa-solid fa-pencil"></i>
    </h1>
    <div class="home-buttons text-center">
      <%= link_to 'ログイン', new_admin_session_path, class: 'btn btn-success my-4 w-50' %>
    </div>
  </div>
</div>