.favorite-post-show {
  margin-top: 30px;
}

.show-row {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.img-fluid {
  width: 100%;  // 画像の幅をコンテナに合わせる
  height: 100%;  // 高さを自動調整
}

.comment-table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;

  .mt-2 {
    max-width: 280px;
    overflow-wrap: break-word;
  }
}

.no-underline {
  text-decoration: none !important;
}

.comment-nick_name {
  color: black;
  text-decoration: none !important;
}

.comment-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.align-middle-link:hover {
  background-color: #b0c4de;
  cursor: pointer;
}

.comment-nick_name:hover {
  color: #007bff;
  cursor: pointer;
}

.comment-field {
  width: 100%;
}

.table-blank {
  background-color: #F8F4E6;
}