<% if user_signed_in? %>
  <%= form_with url: post_search_path, method: :get, local: true do %>
  <div class="d-flex justify-content-center align-items-center">
    <div class="form-group mb-1">
      <div class="form-group position-relative" style="margin-top: 4px; margin-bottom: 0px !important;">
        <i class="fas fa-search position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%); color: #aaa;"></i>
        <%= text_field_tag :query, params[:query], class: 'form-control pl-5', style: "width: 100%;", placeholder: "投稿内容を検索" %>
      </div>
    </div>
    <div class="ml-1">
    <%= hidden_field_tag :model, 'post' %> <!-- 検索対象モデルを指定 -->
    <%= submit_tag '検索', class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
<% end %>