<div class="mt-3 mx-auto">
  <table>
    <tr><th style="font-family: 'Merriweather', cursive; text-align: center; border-bottom: solid 1px black;">today contents</th></tr>
    <% today_contents.each do |content| %>
      <tr><td id="content-name">・<%= content_link(content) %></td></tr>
    <% end %>
  </table>
</div>

<div class="mt-3 mx-auto">
  <table>
    <tr><th style="font-family: 'Merriweather', cursive; text-align: center; border-bottom: solid 1px black;">yesterday contents</th></tr>
    <% yesterday_contents.each do |content| %>
      <tr><td id="content-name">・<%= content_link(content) %></td></tr>
    <% end %>
  </table>
</div>