<div class="user-card-list">
  <%= image_tag user.get_profile_image(100, 100), class: 'profile-image' %>
  <h5 class="user-card-name"><%= user.nick_name %></h5>
  <p class="user-card-profile"><%= user.profile %></p>
</div>