<%= stylesheet_link_tag 'application', media: 'all' %>
<div class="container-fluid">
  <div class="row d-flex">
    <div class="col-2 d-flex flex-column align-items-center">
      <%= render 'user_card', user: @user %>
    </div>
  </div>
</div>